body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 100px;
}

.flexible-container {
    display: flex;
    padding: 0 100px;
}

h1 {
    font-size: 50px;
}

.title-color {
    color: orange;
}

p {
    color: dimgray;
}

.custom-btn {
    text-decoration: none;
    background-image: linear-gradient(90deg, lightsalmon, tomato);
    padding: 10px 35px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.t-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-w {
    width: 50%;
    padding: 0 10px;
}

.half-w img {
    width: 100%;
    height: auto;
}

.b-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.developer {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exeperience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
}

.dev h1 {
    font-size: 30px;
}

#web-developer {
    border-left: 7px solid black;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}

#baby-developer {
    border-left: 7px solid black;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}